.main{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr 1fr;
 align-items: center;
 justify-items: center;

}

.generate-button {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  width: 50%;
}