
.header {
  text-align: center;
  margin-block: 4vh;
}

.page-wrapper {
  background-color: #f9d0d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 3vw;
  height: 100vh;
  margin-inline: 8vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}

.tempo-wrapper {
  text-align: center;
  font-size: 1.5rem;
}
.tempo {
  font-size: 1.5rem;
  text-align: center;
  padding: 50px;
  border: 2px solid #6892e7;
  border-radius: 10px;
}